.ever17Guide {
	width: 100%;
	height: max-content;
	display: flex;
	flex-direction: column;
	z-index: 2;
	padding: 5em;
	padding-top: 6em;
	gap: 1em;

	@media (width < 950px) {
		padding: 2em;
		padding-top: 6em;
	}

	a {
		color: #2977b8;
	}

	.guide {
		display: flex;
		flex-direction: column;
		gap: 1em;

		h2 {
			font-size: 2em;
		}

		h3 {
			font-size: 1.5em;
		}

		.order {
			display: flex;
			flex-direction: column;
			gap: 1em;
			margin-bottom: 1em;

			ol {
				font-size: 1.2em;
				padding-left: 2em;
				display: flex;
				flex-direction: column;
				gap: 1em;
			}
		}

		.flowChart {
			display: flex;
			flex-direction: column;
			gap: 1em;

			.pic {
				width: 100%;
				height: auto;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}