---
import HeaderLayout from '../../../../layouts/HeaderLayout.astro'
import './styles.scss'
import { getLangFromUrl, useTranslatedPath } from '../../../../i18n/utils'

const currentLang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(currentLang)
---

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Infinity Series - Ever17 Guide</title>
		<meta name="description" content="This story is not over yet. Because only you are in the infinity loop." />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Infinity Series - Ever17 Guide" />
		<meta property="og:description" content="This story is not over yet. Because only you are in the infinity loop." />
		<meta property="og:url" content="https://infinityseri.es/" />
		<meta property="og:image" content="https://infinityseri.es/ever17_banner_horizontal.webp" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://infinityseri.es/" />
		<meta property="twitter:title" content="Infinity Series - Ever17 Guide" />
		<meta property="twitter:description" content="This story is not over yet. Because only you are in the infinity loop." />
		<meta property="twitter:image" content="https://infinityseri.es/ever17_banner_horizontal.webp" />
	</head>
	<body>
		<HeaderLayout>
			<div class="ever17Guide">
				<a href={translatePath("/ever17", currentLang)}>Volver atrás</a>
				<div class="guide">
					<h2>Guía Ever17</h2>
					<div class="order">
						<h3>Orden requerido para las rutas</h3>
						<ol>
							<li>Tsugumi (Empieza como Takeshi)</li>
							<li>Sora (Empieza como Takeshi)</li>
							<li>Yu + Epílogo (Empieza como Kid)</li>
							<li>Sara + Epílogo (Empieza como Kid)</li>
							<li>Coco (Empieza como Kid)</li>
							<li>Tsugumi-Sora Epílogo</li>
							<li>Tsugumi-Sora Bad End</li>
							<li>Yu Bad End</li>
							<li>Sara Bad End</li>
						</ol>
					</div>
					<div class="flowChart">
						<h3>Diagrama de flujo</h3>
						<div class="pic">
							<picture>
								<source srcset='/flowchart.avif' type='image/avif' />
								<img src="/flowchart.png" alt="" />
							</picture>
						</div>
					</div>
				</div>
			</div>
		</HeaderLayout>
	</body>
</html>
