---
import HeaderLayout from '../../layouts/HeaderLayout.astro'
import GalleryContainer from '../../components/GalleryContainer'
import games from '../../utils/games.json'
const screenshots = games.never7.screenshots
import './styles.scss'
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Infinity Series - Never7</title>
		<meta name="description" content="This story is not over yet. Because only you are in the infinity loop." />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Infinity Series - Never7" />
		<meta property="og:description" content="This story is not over yet. Because only you are in the infinity loop." />
		<meta property="og:url" content="https://infinityseri.es/" />
		<meta property="og:image" content="https://infinityseri.es/never7_banner_horizontal.webp" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://infinityseri.es/" />
		<meta property="twitter:title" content="Infinity Series - Never7" />
		<meta property="twitter:description" content="This story is not over yet. Because only you are in the infinity loop." />
		<meta property="twitter:image" content="https://infinityseri.es/never7_banner_horizontal.webp" />
	</head>
	<body>
		<HeaderLayout>
			<div class="never7">
				<div class="info">
					<div class="cover">
						<picture>
							<source srcset='/never7_banner_vertical.avif' type='image/avif' media='(width >= 950px)' />
							<source srcset='/never7_banner_vertical.webp' type='image/webp' media='(width >= 950px)' />
							<source srcset='/never7_banner_horizontal.avif' type='image/avif' media='(width < 950px)' />
							<img src="/never7_banner_horizontal.webp" alt="" />
						</picture>
					</div>
					<div class="text">
						<div class="title">
							<span>ネバーセブン ジ・エンド・オブ・インフィニティ</span>
							<h2>Never7 -the end of infinity- Eternal Edition</h2>
							<div class="date">March 23, 2000</div>
						</div>
						<div class="downloads">
							<h3>Downloads</h3>
							<div class="section">
								<span>Base game:</span>
								<ul>
									<li>Never7 -the end of infinity- Eternal Edition v0.6.1 [HD Patch][OP ENG Subs] (Recommended) <a href="https://archive.org/download/never-7-the-end-of-infinity-eternal-edition-v-0.6.1-hd-patch-op-eng/never-7-the-end-of-infinity-eternal-edition-v-0.6.1-hd-patch-op-eng_archive.torrent">[Torrent]</a> <a href="https://archive.org/details/never-7-the-end-of-infinity-eternal-edition-v-0.6.1-hd-patch-op-eng" target='_blank'>[Direct]</a></li>
									<li>Never7 -the end of infinity- Eternal Edition v0.6.1 [HD Patch][OP SPA Subs] <a href="https://archive.org/download/never-7-the-end-of-infinity-eternal-edition-v-0.6.1-hd-patch-op-spa/never-7-the-end-of-infinity-eternal-edition-v-0.6.1-hd-patch-op-spa_archive.torrent">[Torrent]</a> <a href="https://archive.org/details/never-7-the-end-of-infinity-eternal-edition-v-0.6.1-hd-patch-op-spa" target='_blank'>[Direct]</a></li>
									<li>Never7 -the end of infinity- Eternal Edition v0.6.1 <a href="https://www.mediafire.com/file/nshjldhr3zzm760/n7e.love/file" target='_blank'>[Direct]</a></li>
								</ul>
							</div>
							<div class="section">
								<span>Engine required to run:</span>
								<ul>
									<li><a href="https://love2d.org/" target='_blank'>LÖVE Engine</a></li>
								</ul>
							</div>
						</div>
						<div class="guide">
							<h3>Guide (required)</h3>
							<div class="section">
								<ul>
									<li><a href="https://www.kirikiribasara.com/2025/03/05/never7-completion-guide/" target='_blank'>Kiri Kiri Basara - Completion Guide</a></li>
									<span>Most of the dialogue will differ from the one in-game but it's fairly easy to figure it out</span>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="moreInfo">
					<h2>More information</h2>
					<div class="text">
						<div class="section">
							<h3>Description</h3>
							<div class="description">
								<p>You play as Makoto, a student who never attends the lectures at the school. As a punishment, you have to attend an extra seminar on an island with other classmates. However, when you arrive on the island, strange things start happening. A girl is found dead on April 6th, with a small bell in her hand. Immediately after that, you found yourself in the bed and see the date - April 1st! Was the vision of the girl just a dream, or do you possess a power to predict events? This is what you will have to find out, as a series of strange deaths make your seminar much more suspenseful than you have thought.</p>
								<span>[From <a href="http://www.mobygames.com/game/dreamcast/never7-the-end-of-infinity" target='_blank'>Moby Games</a>]</span>
							</div>
						</div>
						<div class="section">
							<GalleryContainer client:idle gallery={screenshots} title="Screenshots" spoilerText={['(Show spoilers)', '(Hide spoilers)']} />
						</div>
						<div class="section">
							<h3>Opening</h3>
							<div class="video">
								<iframe width="100%" height="auto" src="https://www.youtube-nocookie.com/embed/g18sAg1uFfU?si=qJJuD0AkJSuWEMJL" title="Never7 Opening" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
							</div>
						</div>
						<div class="section">
							<h3>Notes</h3>
							<p>The HD patch is incomplete, but it's highly recommended. All of the backgrounds and CGs were redrawn in HD, but most of the sprites are still in the original resolution (with a few exceptions).</p>
							<p>The game still has a couple of typos, those are meant to be fixed in the near future.</p>
							<p>The OP with subs in English was made by me (<a href="https://discordapp.com/users/261228484179918849">@glpg35</a>) and the one in Spanish by <a href="https://discordapp.com/users/220392148682539009">@delta3pc</a>. These subs are not official in any way, and there may be some mistakes (especially in the English version).</p>
						</div>
					</div>
				</div>
			</div>
		</HeaderLayout>
	</body>
</html>
