.viewScreenshotsWrapper {
	width: 100%;
	height: 100dvh;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 10;
	background-color: #040c22aa;

	.viewScreenshots {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		overflow: hidden;
		align-items: center;
		justify-content: center;
	
		.bullets {
			position: absolute;
			bottom: 2em;
			display: flex;
			align-items: center;
	
			.bullet {
				width: 0.6em;
				height: 0.6em;
				border-radius: 50vh;
				border: 2px solid #fff;
				cursor: pointer;
				transition: 0.2s ease-out;
				margin: 0.5em;
	
				&.active {
					background-color: #fff;
					width: 0.8em;
					height: 0.8em;
				}
			}
		}
	
		.screenshots {
			height: 100%;
			display: flex;
	
			.screenshot {
				flex: 1 0 100%;
				display: flex;
				justify-content: center;
				align-items: center;
	
				&:active {
					cursor: grabbing;
				}
	
				.pic {
					width: auto;
					max-height: 80%;
					max-width: 80%;
					aspect-ratio: 4 / 3;
	
					img {
						object-fit: cover;
						width: 100%;
						height: 100%;
						user-select: none;
					}
				}
			}
		}
	}
}