---
import HeaderLayout from '../../layouts/HeaderLayout.astro'
import GalleryContainer from '../../components/GalleryContainer'
import games from '../../utils/games.json'
const screenshots = games.ever17.screenshots
import './styles.scss'
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Infinity Series - Ever17</title>
		<meta name="description" content="This story is not over yet. Because only you are in the infinity loop." />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Infinity Series - Ever17" />
		<meta property="og:description" content="This story is not over yet. Because only you are in the infinity loop." />
		<meta property="og:url" content="https://infinityseri.es/" />
		<meta property="og:image" content="https://infinityseri.es/ever17_banner_horizontal.webp" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://infinityseri.es/" />
		<meta property="twitter:title" content="Infinity Series - Ever17" />
		<meta property="twitter:description" content="This story is not over yet. Because only you are in the infinity loop." />
		<meta property="twitter:image" content="https://infinityseri.es/ever17_banner_horizontal.webp" />
	</head>
	<body>
		<HeaderLayout>
			<div class="ever17">
				<div class="info">
					<div class="cover">
						<picture>
							<source srcset="/ever17_banner_vertical.avif" type='image/avif' media='(width >= 950px)' />
							<source srcset="/ever17_banner_vertical.webp" type='image/webp' media='(width >= 950px)' />
							<source srcset="/ever17_banner_horizontal.avif" type='image/avif' media='(width < 950px)' />
							<img src="/ever17_banner_horizontal.webp" alt="" />
						</picture>
					</div>
					<div class="text">
						<div class="title">
							<span>エバーセブンティーン ジ・アウト・オブ・インフィニティ</span>
							<h2>Ever17 -the out of infinity- Himmel Edition</h2>
							<div class="date">August 29, 2002</div>
						</div>
						<div class="downloads">
							<h3>Downloads</h3>
							<div class="section">
								<span>Base game:</span>
							<ul>
								<li>Ever17 -the out of infinity- Himmel Edition v1.3 [PS2 BGM + Voice + SFX Patch] (Recommended) <a href="https://archive.org/download/ever17-the-out-of-infinity-himmel-edition-v1.3-ps2-bgm-voice-sfx-patch/Ever17%20-the%20out%20of%20infinity-%20Himmel%20Edition%20v1.3%20%5BPS2%20BGM%20%2B%20Voice%20%2B%20SFX%20Patch%5D.zip" target='_blank'>[Direct]</a></li>
								<li>Ever17 -the out of infinity- Himmel Edition v1.3 <a href="https://archive.org/download/ever-17-the-out-of-infinity/ever-17-the-out-of-infinity_archive.torrent">[Torrent]</a> <a href="https://archive.org/details/ever-17-the-out-of-infinity" target='_blank'>[Direct]</a></li>
							</ul>
							<span>Patch (only if you download the unpatched version of the game):</span>
							<ul>
								<li>Ever17 PS2 BGM + Voice + SFX Patch <a href="https://drive.google.com/drive/folders/1X-hYIMS_wWkChEqikCxSomaRJQm3DBF1?usp=sharing" target='_blank'>[Drive]</a> <a href="https://mega.nz/folder/NrAEVBhC#pSg3_GGKMh0YA38V_SjjiA">[Mega]</a></li>
							</ul>
						</div>
						<div class="section">
							<span>Upscaler (recommended):</span>
							<ul>
								<li><a href="https://github.com/Blinue/Magpie/releases" target='_blank'>Magpie</a></li>
								<span>CuNNy model is recommended for better results, but if you don't want to use an AI upscaler you can always use something like Lanczos</span>
							</ul>
						</div>
					</div>
					<div class="guide">
						<h3>Guide (required)</h3>
						<div class="section">
							<ul>
								<li>Included inside patch</li>
								<span>The patch includes a file (patch_readme.html) in the game folder, which includes a guide in form of a flowchart.</span>
								<span>But if you want, you can <a href='/ever17/guide'>access it here</a></span>
							</ul>
						</div>
					</div>
					<div class="sideContent">
						<h3>Side content</h3>
						<div class="section">
							<ul>
								<span>This content must be watched after finishing the game, as it contains giant spoilers about the game's ending.</span>
								<li>
									<div class="spoilerContent">
										Drama CD - <details><summary>[Click to show big spoiler]</summary>2035</details> (ENG Subs) <a href="https://www.youtube.com/watch?v=5F_TlQjRdmU">[YouTube]</a>
									</div>
								</li>
								<li>
									Drama CD - After You've Gone (Video with ENG Subs coming soon)
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="moreInfo">
				<h2>More information</h2>
				<div class="text">
					<div class="section">
						<h3>Description</h3>
						<div class="description">
							<p>Ever17 is the tale of seven individuals who become trapped 51 meters below the surface in the underwater marine theme park 'LeMU'. After an incident, almost half of LeMU becomes flooded, and the path to the surface and the communication lines are cut off. In addition, LeMU is under constant assault by severe water pressure, limiting time to find a means of escape to 119 hours. Escape is not the only concern, however; many questions arise as to the legitimacy of the accident and whether or not those trapped there were brought there for a purpose.</p>
							<span>[From <a href="https://en.wikipedia.org/wiki/Ever_17:_The_Out_of_Infinity" target='_blank'>Wikipedia</a>]</span>
						</div>
					</div>
					<div class="section">
						<GalleryContainer client:idle gallery={screenshots} title='Screenshots' spoilerText={['(Show spoilers)', '(Hide spoilers)']} />
					</div>
					<div class="section">
						<h3>Opening</h3>
						<div class="video">
							<iframe width="100%" height="auto" src="https://www.youtube-nocookie.com/embed/LxsqrWomJa0?si=QcAUqaORh1mtXTZ6" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						</div>
					</div>
					<div class="section">
						<h3>Notes</h3>
						<p>The PS2 BGM + Voice + SFX Patch restores the original background music, voices and sound effects present on the PS2 version. This patch was made because the PC release had to be compressed a lot (PCs in the 2000s were inferior to consoles), so the final result ended up sounding pretty bad. As it's better to experience these games in the best way possible, this patch is highly recommended.</p>
					</div>
					<div class="section">
						<h3>FAQ</h3>
						<div class="questions">
							<div class="question">
								<h4>How do I run the game? There are too many .exe files</h4>
								<p>To run the game you need to execute the "ever17PC_us.exe" file and leave every option by default.</p>
							</div>
							<div class="question">
								<h4>How do I use Magpie?</h4>
								<p>First you need to start Magpie by double clicking the .exe file. Once Magpie is open you need to select a scaling factor (for this game 3x is recommended) and a scaling model. As mentioned above, CuNNy is highly recommended, but if you don't want to use an AI model you can use Lanczos.</p>
								<p>After everything is configured properly, you can start the game (in windowed mode) and press the shortcut "Alt+Shift+Q" to activate the upscaling. With that done, a menu should appear on the top with a bunch of options, just select the option to play in fullscreen.</p>
							</div>
							<div class="question">
								<h4>How do I apply the patch separately?</h4>
								<p>First download the patch from the Downloads section and unzip the compressed file. That should leave you with an .exe file. Execute it and when you're prompted to select a folder to apply the patch, DON'T SELECT THE GAME FOLDER, just select a random folder in your system, and the application will start extracting the game files. Once the application finishes extracting the files, you'll see a new folder inside the one you selected previously. Enter the folder, copy its contents and paste them inside the game folder, replacing all of the files when you're prompted to.</p>
							</div>
							<div class="question">
								<h4>Why can't I play the remake that's available on Steam?</h4>
								<p>The remake is not intended if it's your first time playing this game. You are better off playing it after finishing Ever17 - Himmel Edition, as the remake deviates a lot from the original game, spoiling a lot of major plot points early on, while also changing the script significantly, affecting the overall understanding of the plot.</p>
								<p>Also, Uchikoshi and Nakazawa did not participate in the production of this remake at all, they were replaced by Shikura Chiyomaru (creator of the Science Adventure) for the production and Yamada Shichirou for the scenario reconstruction.</p>
								<p>If you still want to experience this game after playing the original, you can <a href="https://store.steampowered.com/app/2392500/Ever_17__The_Out_of_Infinity/" target='_blank'>purchase the game here.</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</HeaderLayout>
	</body>
</html>
