---
export const prerender = false

import HeaderLayout from '../layouts/HeaderLayout.astro'
import HomeSlider from '../components/HomeSlider'
import './styles.scss'
import { getLangFromUrl, useTranslatedPath } from '../i18n/utils'

const currentLang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(currentLang)

const rivenData = await fetch('https://api.vndb.org/kana/release', {
	method: 'POST',
	body: JSON.stringify({
		filters: ["id", "=", "112529"],
		fields: "notes"
	}),
	headers: {
		'Content-Type': 'application/json'
	}
}).then(res => res.json().then(json => {
	if (res.ok) {
		return json
	}

	throw new Error(json.message)
})).catch(() => {
	return null
})

const rivenPercent = rivenData ? rivenData.results[0].notes.match(/\b\d+(?:\.\d+)?%/g)[0] : '90%'
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Infinity Series</title>
		<meta name="description" content="This story is not over yet. Because only you are in the infinity loop." />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Infinity Series" />
		<meta property="og:description" content="This story is not over yet. Because only you are in the infinity loop." />
		<meta property="og:url" content="https://infinityseri.es/" />
		<meta property="og:image" content="https://infinityseri.es/never7_banner_horizontal.webp" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://infinityseri.es/" />
		<meta property="twitter:title" content="Infinity Series" />
		<meta property="twitter:description" content="This story is not over yet. Because only you are in the infinity loop." />
		<meta property="twitter:image" content="https://infinityseri.es/never7_banner_horizontal.webp" />
	</head>
	<body>
		<HeaderLayout>
			<HomeSlider url={Astro.url} client:load />
			<article>
				<section>
					<h2>What is the <span>Infinity</span> Series?</h2>
					<p><span>Infinity</span> is a romance/sci-fi visual novel trilogy developed by KID (5pb./MAGES. predecessor), co-written by Uchikoshi Koutarou (Zero Escape & AI: The Somnium Files) and directed and co-written by Nakazawa Takumi (Root Double & I/O).</p>
					<p>The three entries take place in the same universe and share plot elements such as technology, historical events, phenomena and mechanics.</p>
				</section>
				<section>
					<h2>Why should I read it?</h2>
					<p><span>Infinity</span> contains the roots of today's more well-known series such as Science Adventure and the two mentioned above by Uchikoshi.</p>
					<p>One of the principles that govern the Science Adventure universe is directly inspired by <span>Infinity</span>, as the metafictional aspects present in its more than five works.</p>
					<p>Regarding Uchikoshi's later works, the reuse of plot twists that were applauded in the <span>Infinity</span> series is especially evident in both Zero Escape and AI: The Somnium Files.</p>
				</section>
				<section>
					<h2>Where do I begin?</h2>
					<p>Each entry contains elements from its predecessors, playing with the expectations of the readers that are already used to them. That's why, to have the best experience as possible, one should follow the release order to play the games:</p>
					<ul>
						<li>Never7 (2000)</li>
						<li>Ever17 (2002)</li>
						<li>Remember11 (2004)</li>
					</ul>
				</section>
				<section>
					<span>Original text by <a href="https://discordapp.com/users/220392148682539009">@delta3pc</a></span>
				</section>
				<section>
					<h2>Why shouldn't I play the Steam releases?</h2>
					<p>The only entries available right now on Steam are Never7 and Ever17 as "remastered" versions.</p>
					<p>Never7 suffers from bad upscaling, a 16:9 aspect ratio that cuts sprites in half and also cuts backgrounds, a really bad translation and an ugly UI. This release is really inferior compared to the Eternal Edition with the HD Patch.</p>
					<p>For Ever17 this is tricky, because in this case the Steam release is completely different compared to the Himmel Edition. This is because the Steam release is based on the Xbox 360 remake of the game. This one used 3D assets (these ones were changed in favor of the superior 2D sprites in the Steam release) and completely revamped backgrounds and music, and also new or edited CGs. They also changed the script in weird ways, as a result, changing the story and the experience as a whole.</p>
					<p>As I said in the <a href={translatePath("/ever17", currentLang)}>Ever17 FAQ section</a>, you can play it if you want, but make sure to experience it after the Himmel Edition.</p>
				</section>
				<section>
					<h2>What about 12Riven and code_18?</h2>
					<p>While these entries are technically still part of the <span>Infinity</span> Series, 12Riven was known as the beggining and sole entry of the Integral Series (a spin-off of the <span>Infinity</span> Series) and code_18 as a reboot of the <span>Infinity</span> Series.</p>
					<p>Both games share concepts and dynamics with the <span>Infinity</span> Series, but they don't really affect the series in any way.</p>
					<p>12Riven was being originally developed by KID, but the company went bankrupt and the rights were sold to CyberFront. The game was still co-written by Uchikoshi but it was directed by Satou Yasuyuki (KID) and Wakabayashi Ken (CyberFront).</p>
					<p>In the case of code_18, this was a project completely developed by CyberFront, but instead of making it like the prior entries, they ended up making a reboot of the <span>Infinity</span> Series, with the game this time being co-written by Higurashi Chabou and directed by Wakabayashi Ken.</p>
					<p>These games are only available in Japanese at the moment, with 12Riven being currently fan translated ({rivenPercent} completion according to VNDB), while code_18 for now shows no signs of being translated whatsoever.</p>
				</section>
			</article>
		</HeaderLayout>
	</body>
</html>
