.gamesWrapper {
	z-index: 2;
	width: 100%;
	display: flex;
	height: 100dvh;
	overflow: hidden;

	.games {
		width: 300%;
		height: 100%;
		display: flex;

		.game {
			width: 100%;
			flex: 1 0 100%;
			cursor: pointer;

			&:active {
				cursor: grabbing;
			}
		}

		.banner {
			width: 100%;
			height: 100%;

			picture img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				pointer-events: none;
				user-select: none;
			}

			@media (orientation: landscape) {
				picture img {
					object-position: left center !important;
				}
			}
		}
	}
}

article {
	z-index: 2;
	width: 100%;
	padding: 5em;
	display: flex;
	color: #fff;
	flex-direction: column;
	gap: 2.5em;
	position: relative;

	@media (width < 950px) {
		padding: 2em;
		padding-block: 3em;
	}

	a {
		color: #2977b8;
	}

	&::before {
		position: absolute;
		z-index: 3;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-image: linear-gradient(to bottom, #040c22 10%, #040c2200);
		opacity: 0.9;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		z-index: 5;
		
		h2 {
			font-size: 2em;
			margin-bottom: 0.5em;

			span {
				font-style: italic;
			}
		}

		p {
			font-size: 1.2em;
		}

		ul {
			font-size: 1.2em;
			padding: 1em 2em;
			display: flex;
			flex-direction: column;
			gap: 1em;
		}

		span {
			font-style: italic;
		}
	}
}