.header {
	z-index: 3;
	position: fixed;
	top: 0;
	width: 100%;
	height: 6em;

	@media (width < 950px) {
		.headerWrapper {
			justify-content: space-between;
			font-size: clamp(0.7em, 0.525em + 0.8vw, 1em);

			.headerBackground {
				opacity: 1 !important;
			}

			.languageWrapper {
				.language {
					color: #fff !important;

					&:hover {
						color: #082749;
						text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 45px #fff, 0 0 50px #fff;
					}
				}
			}

			nav {
				ul {
					a {
						color: #fff !important;

						&:hover {
							color: #082749 !important;
							text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 45px #fff, 0 0 50px #fff;
						}
					}
				}
			}
		}

		&.dark {
			.headerWrapper {
				.headerBackground {
					opacity: 1;
				}
			}
		}
	}

	&.dark {
		.headerWrapper {
			.languageWrapper {
				.language {
					color: #fff;

					&:hover {
						color: #082749;
						text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 45px #fff, 0 0 50px #fff;
					}
				}
			}

			nav {
				ul {
					a {
						color: #fff;

						&:hover {
							color: #082749;
							text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 45px #fff, 0 0 50px #fff;
						}
					}
				}
			}
		}
	}

	&.darkPage, &.opacity {
		.headerWrapper {
			.headerBackground {
				opacity: 1;
			}

			.languageWrapper {
				.language {
					color: #fff;

					&:hover {
						color: #082749;
						text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 45px #fff, 0 0 50px #fff;
					}
				}
			}

			nav {
				ul {
					a {
						color: #fff;

						&:hover {
							color: #082749;
							text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 45px #fff, 0 0 50px #fff;
						}
					}
				}
			}
		}
	}

	.headerWrapper {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		padding-left: 2em;
		padding-bottom: 1em;
		position: relative;

		.headerBackground {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			background-image: linear-gradient(to bottom, #254b71fa, #254b7100);
			opacity: 0;
			transition: 0.2s ease-out;
		}

		.languageWrapper {
			margin-left: auto;
			padding-right: 2em;
			position: relative;
			z-index: 10;

			.language {
				user-select: none;
				cursor: pointer;
				padding: 1em;
				color: #2977b8;
				transition: 0.2s ease-out;
				text-transform: uppercase;

				&:hover {
					color: #254b71;
				}
			}

			.list {
				position: absolute;
				top: 3.5em;
				right: 3em;
				width: max-content;
				display: flex;
				gap: 0.2em;
				flex-direction: column;
				background-color: #040c22;
				font-size: 1em !important;
				border: 3px solid #2977b8;
				padding: 0.5em;

				fieldset {
					display: flex;
					gap: 0.7em;
					align-items: center;
					border: none;
					outline: none;
					width: 100%;
					cursor: pointer;
					transition: 0.2s ease-out;
					
					&:hover {
						background-color: #254b71;
					}

					&:has(input:checked) {
						background-color: #2977b8;
						color: #040c22;
					}

					label {
						cursor: inherit;
						padding: 0.7em 1em;
						padding-right: 3em;
					}

					input {
						outline: none;
						border: none;
						font-family: 'Zen Antique', serif;
						font-weight: 400;
						cursor: inherit;
						display: none;
					}
				}
			}
		}

		@media (width <= 500px) {
			button {
				display: flex !important;
				align-items: center;
				justify-content: center;
				font-size: 1.5em;
				border: none;
				outline: none;
				background-color: transparent;
				color: #fff;
				transition: 0.2s ease-out;
				cursor: pointer;
				z-index: 5;

				&:hover {
					color: #082749;
					filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #fff) drop-shadow(0 0 15px #fff) drop-shadow(0 0 20px #fff);
				}
			}
		}

		button {
			display: none;
		}

		nav {
			font-size: 1.2em;

			@media (width <= 500px) {
				position: absolute;
				top: 0;
				left: 0;
				padding: 1.5em;
				padding-top: 7em;
				height: 100dvh;
				width: 100%;
				background-image: linear-gradient(to right, #254b71, #254b7100);
				display: flex;
				align-items: flex-start;
				transition: 0.3s ease-in-out;
				opacity: 0;
				visibility: hidden;
				z-index: 1;

				&.active {
					opacity: 1;
					visibility: visible;
				}

				ul {
					flex-direction: column;
					align-items: flex-start !important;
					width: 100%;
					width: max-content;
					gap: 2em !important;
				}
			}
			
			ul {
				display: flex;
				align-items: center;
				gap: 1em;
				list-style: none;

				a {
					text-decoration: none;
					color: #2977b8;
					transition: 0.2s ease-out;
					padding: 0.5em;

					&:hover {
						color: #254b71;
					}
				}
			}
		}
	}
}