.main {
	width: 100%;
	min-height: 100dvh;
	background-image: url('/moon-jellyfish.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	overflow-y: auto;

	&::before {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-color: #040c22;
		content: '';
		opacity: 0.9;
	}
}