---
import HeaderLayout from '../../layouts/HeaderLayout.astro'
import HomeSlider from '../../components/HomeSlider'
import './styles.scss'
---

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Infinity Series</title>
		<meta name="description" content="This story is not over yet. Because only you are in the infinity loop." />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Infinity Series" />
		<meta property="og:description" content="This story is not over yet. Because only you are in the infinity loop." />
		<meta property="og:url" content="https://infinityseri.es/" />
		<meta property="og:image" content="https://infinityseri.es/never7_banner_horizontal.webp" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://infinityseri.es/" />
		<meta property="twitter:title" content="Infinity Series" />
		<meta property="twitter:description" content="This story is not over yet. Because only you are in the infinity loop." />
		<meta property="twitter:image" content="https://infinityseri.es/never7_banner_horizontal.webp" />
	</head>
	<body>
		<HeaderLayout>
			<HomeSlider client:load />
			<article>
				<section>
					<h2>¿Qué es la Serie <span>Infinity</span>?</h2>
					<p><span>Infinity</span> es una trilogía de novelas visuales de romance/ciencia ficción desarrolladas por KID (predecesora de 5pb./MAGES.), coescritas por Uchikoshi Kotaro (Zero Escape y AI: The Somnium Files) y dirigidas y coescritas por Nakazawa Takumi (Root Double y I/O).</p>
					<p>Las tres entregas se desarrollan en el mismo universo y comparten elementos argumentales como tecnologías, sucesos históricos, fenómenos y las mecánicas detrás de estos.</p>
				</section>
				<section>
					<h2>¿Por qué debería leerla?</h2>
					<p>En <span>Infinity</span> se hallan las raíces de series más conocidas en la actualidad, como Science Adventure y las dos antes mencionadas de Uchikoshi.</p>
					<p>Uno de los principios que rigen el universo de SciADV está inspirado directamente en <span>Infinity</span>, al igual que los aspectos metaficcionales que la caracterizan.</p>
					<p>En cuanto a los trabajos posteriores de Uchikoshi, es especialmente evidente la reutilización de giros de trama que fueron aplaudidos en su tiempo a la serie <span>Infinity.</span></p>
				</section>
				<section>
					<h2>¿Dónde comienzo?</h2>
					<p>Cada entrega introduce elementos que se basan en aquellos de sus antecesoras y juega con la expectativa de lectores ya familiarizados con ellos, por lo que la experiencia será más satisfactoria si se sigue el orden de lanzamiento, que es el siguiente:</p>
					<ul>
						<li>Never7 (2000)</li>
						<li>Ever17 (2002)</li>
						<li>Remember11 (2004)</li>
					</ul>
				</section>
				<section>
					<span>Texto original escrito por @delta3pc</span>
				</section>
				<section>
					<h2>¿Por qué no debería jugar las versiones de Steam?</h2>
					<p>Las únicas versiones disponibles en Steam ahora mismo son Never7 y Ever17 como versiones "remasterizadas".</p>
					<p>Never7 sufre de un mal escalado de imagen, una relación de aspecto en 16:9 que corta los fondos y a su vez los sprites a la mitad, una traducción muy mala y una interfaz fea. Esta versión es sumamente inferior comparada a la Eternal Edition con el parche en HD.</p>
					<p>En el caso de Ever17 es más complicado, ya que en este caso la versión de Steam es completamente diferente a la Himmel Edition. Esto es porque la versión de Steam fue basada en el remake del juego para la Xbox 360. Esta usaba modelos en 3D para los personajes (los cuales fueron cambiados por los superiores sprites en 2D originales) al igual que fondos y música completamente nuevos, como también CGs nuevos o editados. También cambiaron el guión en formas cuestionables, dando como resultado una historia muy distinta, cambiando la experiencia por completo.</p>
					<p>Como dije en la <a href="/ever17#faq">sección de preguntas frecuentes de Ever17</a>, puedes elegir jugar esta versión si así lo deseas, pero después de haber experimentado la Himmel Edition.</p>
				</section>
				<section>
					<h2>¿Y qué pasa con 12Riven y code_18?</h2>
					<p>Mientras que estas entregas son técnicamente parte de la Serie <span>Infinity</span>, 12Riven fue conocida como la primera y única entrega de la Serie Integral (un spin-off de la Serie <span>Infinity</span>) y code_18 como un reboot de la Serie <span>Infinity</span>.</p>
					<p>Ambos juegos comparten conceptos y dinámicas con la Serie <span>Infinity</span>, pero no afectan realmente a la serie de ninguna manera.</p>
					<p>12Riven fue originalmente desarrollado por KID, pero la compañía se declaró en bancarrota, vendiendo los derechos a CyberFront. El juego también fue coescrito por Uchikoshi pero fue dirigido por Satou Yasuyuki (KID) y Wakabayashi Ken (CyberFront).</p>
					<p>En el caso de code_18, este proyecto fue completamente desarrollado por CyberFront, pero en vez de hacerlo similar a las entregas anteriores, decidieron hacer un reboot de la Serie <span>Infinity</span>l, con el juego esta vez siendo coescrito por Higurashi Chabou y dirigido por Wakabayashi Ken.</p>
					<p>Estos juegos sólo están disponibles en Japonés por el momento, con 12Riven actualmente siendo traducido por fans (81.1% de progreso según VNDB), mientras que code_18 por ahora no muestra señales de que vaya a ser traducido.</p>
				</section>
			</article>
		</HeaderLayout>
	</body>
</html>
